{% extends "polyview/base.html" %***REMOVED***
{% block content %***REMOVED***
<div class = "container" id = "text-area">
	<h3>About Polyview</h3>
	<p>Originally a simple script meant to notify users of PASS updates, Polyview is now a complete webapp designed to make scheduling easier for Cal Poly students. Polyview offers many of the features of PASS as well as many new features.</p>
	<p>These features include many advanced search features and being able to follow sections and recieve e-mail updates for them when your sections have classes added, removed, or if any classes have filled up. This means that you no longer have to constantly check PASS to see if a new class has opened, you'll recieve an e-mail as soon as it happens.</p>
	<p>Currently users are authenticated through Google Plus, although there are plans to add other social media options. This means Polyview is not officially associated with Cal Poly, and any user information stored by Polyview is completely separate from any official Cal Poly accounts.</p>
	<p>If you have any concerns or suggestions please feel free to e-mail them to placeholder@test.com</p>
{% endblock content %***REMOVED***