<!DOCTYPE html>
<head>
    <title>Polyview</title>
***REMOVED***% load static %***REMOVED***
***REMOVED***% load widget_tweaks %***REMOVED***
***REMOVED***% load search_extras %***REMOVED***
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %***REMOVED***"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %***REMOVED***"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <body data-spy="scroll" data-target=".navbar-fixed-top" >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %***REMOVED***"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
   <!-- <a id="polyview-brand" class="<nav></nav>bar-brand" href="#">Polyview</a> -->
   <div class = "container">
        <a href = "#" id="polyview-brand" class = "navbar-brand">Polyview</a>
        <ul class = "nav navbar-nav navbar-left">
                <li class = "nav-link active"><a href = "#">Home</a></li>
                <li class><a href = "/soc/login/google-oauth2/?next=/">Sign-In</a></li>
                <li class><a href = "#">About</a></li>
        </ul>       
   </div>
</nav>
<div class="container-fluid">
    <div class = "row ">
    <div class = "col col-lg-2" id = "search-form">
    <form action="/" method="post">
        <h3>Search for classes</h3>
    ***REMOVED***% csrf_token %***REMOVED***
    ***REMOVED***% for field in form %***REMOVED***
            <div class = "form-group">
        ***REMOVED***% ifequal field.label "Department:"%***REMOVED***
            ***REMOVED***{ field.label ***REMOVED******REMOVED***
            <div id = "department-list">
            ***REMOVED***{ field ***REMOVED******REMOVED***
            </div>
        ***REMOVED***% else %***REMOVED***
            ***REMOVED***{ field.label ***REMOVED******REMOVED***
            ***REMOVED***{ field|add_class:"form-control"***REMOVED******REMOVED***
        ***REMOVED***% endifequal %***REMOVED***
            </div>
    ***REMOVED***% endfor %***REMOVED***
        <input type="submit" class = "btn btn-primary" value="Submit" />
    </form>
    </div>
    <div class = "col col-lg-9 tables-col">
***REMOVED***% if search_results %***REMOVED***
    ***REMOVED***% for group in search_results %***REMOVED***
        <div class = "hidable-table">
        <h3 class = "course-title"> {{ full_dep|get_item:group.0.0.course***REMOVED******REMOVED*** </h3>
        <div class = "class-table">
        <table id = "{{ group.0.0.course ***REMOVED******REMOVED***" class = "table">
            <thead>
                <tr class = "row-desc">
                    <th width = "4%">Class #</th>
                    <th width = "3%">Sec.</th>
                    <th width = "3%">Type</th>
                    <th width = "10%">Instructor</th>
                    <th width = "4%">Polyrating</th>
                    <th width = "4%">Avail.</th>
                    <th width = "4%">Taken</th>
                    <th width = "4%">Waiting</th>
                    <th width = "8%">Status</th>
                    <th width = "7%">Days</th>
                    <th width = "6%">Start</th>
                    <th width = "6%">End</th>
                    <th width = "11%">Building</th>
                    <th width = "4%">Room</th>
                </tr>
            </thead>
            <tbody>
        ***REMOVED***% for subgroup in group %***REMOVED***
                <tr><td colspan = "14"></td></tr>
                <tr>
                    <th colspan = "14" class = "row-class course-subtitle">
                    <input type="checkbox" class="follow"/>
                ***REMOVED***{subgroup.0.course***REMOVED******REMOVED*** {{subgroup.0.course_num***REMOVED******REMOVED*** - {{ subgroup.0.course_combined.description ***REMOVED******REMOVED***
                    </th>
                </tr>
            ***REMOVED***% for result in subgroup %***REMOVED***
            ***REMOVED***% if forloop.counter|divisibleby:2 %***REMOVED***<tr class="row-class row-white {{result.status***REMOVED******REMOVED***">{% else %***REMOVED***<tr class="row-class row-grey {{result.status***REMOVED******REMOVED***">{% endif %***REMOVED***
                    <td>{{ result.class_field ***REMOVED******REMOVED***</td>
                    <td>{{ result.sec_num ***REMOVED******REMOVED***</td>
                    <td>{{ result.type ***REMOVED******REMOVED***</td>
                    <td>{{ result.instructor ***REMOVED******REMOVED***</td>
                ***REMOVED***% if result.rating %***REMOVED***
                    <td>{{ result.rating ***REMOVED******REMOVED***</td>
                ***REMOVED***% else %***REMOVED***
                    <td> -- </td>
                ***REMOVED***% endif %***REMOVED***
                    <td>{{ result.available ***REMOVED******REMOVED***</td>
                    <td>{{ result.taken ***REMOVED******REMOVED***</td>
                    <td>{{ result.waiting ***REMOVED******REMOVED***</td>
                    <td>{{ result.status ***REMOVED******REMOVED***</td>
                    <td>{{ result.days ***REMOVED******REMOVED***</td>
                    <td>{{ result.start | date:'g:i A' ***REMOVED******REMOVED***</td>
                    <td>{{ result.end | date:'g:i A' ***REMOVED******REMOVED***</td>
                    <td>{{ result.building ***REMOVED******REMOVED***</td>
                    <td>{{ result.room ***REMOVED******REMOVED***</td>
               </tr>
           ***REMOVED***% endfor %***REMOVED***
       ***REMOVED***% endfor %***REMOVED***
           </tbody>
        </table>
        </div>
        </div>
    ***REMOVED***% endfor %***REMOVED***
***REMOVED***% else %***REMOVED***
    <div id = "no-results">
        <p>No results found.</p>
    </div>
***REMOVED***% endif %***REMOVED***
    </div>
    </div>
</div>
<div id = "footer">
</div>
</body>
