{% extends "polyview/base.html" %***REMOVED***
{% load widget_tweaks %***REMOVED***
{% block content %***REMOVED***
<div id = "search-header">
    <h3>Fall Quarter 2017</h3>
    <div class = "btn-container">
    ***REMOVED***% block buttons %***REMOVED***{% endblock buttons %***REMOVED***
    </div>
</div>
<div id="search-form">
***REMOVED***% block form %***REMOVED***{% endblock form %***REMOVED***
***REMOVED***% if search_results %***REMOVED***
***REMOVED***% block results_count %***REMOVED***{% endblock results_count %***REMOVED***
***REMOVED***% endif %***REMOVED***
</div>
<div class = "table-col">
***REMOVED***% block results %***REMOVED***{% endblock results %***REMOVED***
</div>
{% endblock content %***REMOVED***

