{% extends "polyview/base.html" %***REMOVED***
{% load widget_tweaks %***REMOVED***
{% block content %***REMOVED***
<div class="container-fluid">
    <div class = "row">
        <div class = "row">
            <div id = "search-header">
                <div class = "col col-lg-1" id = "quarter">
                    <h3>Fall Quarter 2017</h3>
                </div>
                <div class = "col col-lg-3 col-lg-offset-8 col-md-offset-7 col-sm-offset-7">
                    <div class = "btn-container">
                    ***REMOVED***% block buttons %***REMOVED***{% endblock buttons %***REMOVED***
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-md-12 col-lg-2">
            <div id="search-form">
            ***REMOVED***% block form %***REMOVED***{% endblock form %***REMOVED***
            ***REMOVED***% if search_results %***REMOVED***
            ***REMOVED***% block results_count %***REMOVED***{% endblock results_count %***REMOVED***
            ***REMOVED***% endif %***REMOVED***
            </div>
        </div>
        <div class = "col col-md-12 col-lg-9">
            <div class = "table-col">
            ***REMOVED***% block results %***REMOVED***{% endblock results %***REMOVED***
            </div>
        </div>
    </div>
</div>
{% endblock content %***REMOVED***

