{% extends "polyview/base.html" %***REMOVED***
{% load widget_tweaks %***REMOVED***
{% block content %***REMOVED***
<div class="container-fluid">
    <div class = "row">
        <div class = "row">
            <div id = "search-header">
                <div class = "col col-lg-1" id = "quarter">
                    <h3>Fall Quarter 2017</h3>
                </div>
                <div class = "col col-sm-4 col-lg-3 col-lg-offset-2 col-md-offset-0">
            ***REMOVED***% if search_results %***REMOVED***
                <div id = "results-count">
                ***REMOVED***% if results_count == 1 %***REMOVED***
                        <p>Search returned {{ results_count ***REMOVED******REMOVED*** class.</p>
                ***REMOVED***% else %***REMOVED***
                        <p>Search returned {{ results_count ***REMOVED******REMOVED*** classes.</p>
                ***REMOVED***% endif %***REMOVED***
                </div>
            ***REMOVED***% else %***REMOVED***
                ***REMOVED***% ifequal results_type "section" %***REMOVED***
                  <div id = "results-count">
                      <p>No results found.</p>
                  </div>
                ***REMOVED***% endifequal %***REMOVED***
            ***REMOVED***% endif %***REMOVED***
                </div>
                <div class = "col col-lg-3 col-lg-offset-3 col-md-offset-0">
                <div class = " btn-container">
                ***REMOVED***% ifequal results_type "section" %***REMOVED***
                    <form action="/search/" method="post">
                    ***REMOVED***% csrf_token %***REMOVED***
                        <div>
                            <input type="submit" class = "btn btn-secondary" value="Choose Sections" name = "course-search" />
                        </div>
                        <div>
                            <input type="submit" class = "btn btn-primary" value="Follow Checked" />
                        </div>
                    </form>               
                ***REMOVED***% else %***REMOVED***
                    <form action="/search/" method="post">
                    ***REMOVED***% csrf_token %***REMOVED***
                        <input type="submit" id = "follow-btn" class = "btn btn-primary" value="Choose Sections" name = "section-search" />
                    </form>
                ***REMOVED***% endifequal %***REMOVED***
                </div>
                </div>
            </div>
        </div>
        <div class = "col-md-12 col-lg-2">
        <div id="search-form">
        ***REMOVED***% ifequal results_type "section" %***REMOVED***
            ***REMOVED***% include 'polysearch/results_pages/class_form.html' %***REMOVED***
        ***REMOVED***% else %***REMOVED***
            ***REMOVED***% include 'polysearch/results_pages/department_form.html' %***REMOVED***
        ***REMOVED***% endifequal %***REMOVED***
        </div>
        </div>
        <div class = "col col-md-12 col-lg-9">
            <div class = "table-col">
        ***REMOVED***% ifequal results_type "course" %***REMOVED***
            ***REMOVED***% include 'polysearch/results_pages/department_results.html' %***REMOVED***
        ***REMOVED***% else %***REMOVED***
            ***REMOVED***% include 'polysearch/results_pages/class_results.html' %***REMOVED***
        ***REMOVED***% endifequal %***REMOVED***
            </div>
        </div>
    </div>
</div>
{% endblock content %***REMOVED***

