
/*Stylesheet for Polyview*/
/*Created by Trace Rainbolt*/

/*            */
/* Global CSS */ 
/*            */

body, html {
    background-color: white;
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
***REMOVED***
li {
    list-style: none;
***REMOVED***

.content {
	height: 100%;
	margin, padding: 0;
	background-image: url("../img/default-background.jpg"***REMOVED***;
	background-repeat: no-repeat;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
***REMOVED***

.navbar {
	margin: 0;
	background-color: #3a7d54;
	border-color: darkgreen;
***REMOVED***

#polyview-brand {
	color: white;
	font-family: "Raleway";
	font-size: 1em;
***REMOVED***

.nav a {
	color: white !important;
***REMOVED***

.nav a:hover {
	background: #38714e !important;
***REMOVED***


.nav .active a { 
	background: #38714e !important;
***REMOVED***

.nav .active a:hover {
	background: #38714e !important;
***REMOVED***

#separator {
	margin: 0.5rem;
	margin-top: 1rem;
	content: "";
	border-right: 1px white solid;
	height: 3rem;
***REMOVED***

/*              */
/* Homepage CSS */
/*              */

#home h3, p {
-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
     -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
***REMOVED***

#home h3 {
	margin:0 auto;
	padding-top: 2em;
	padding-bottom: .5em;
	text-align: center;
	font-family: "Raleway";
	font-size: 12rem;
	color: #f3f4f4;
	text-shadow: -3px 3px #767571, 1px -1px #101010;
***REMOVED***

#home p {
	margin:0 auto;
	width: 20em;
	padding-top: 2em;
	text-align: center;
	font-family: "Raleway";
	font-size: 3.6rem;
	color: #f9faf3;
	text-shadow: -2px 2px #767571, 0 0 12px #101010;
***REMOVED***

#home-points {
	position: relative;
    top: 25%;
    transform: translateY(-50%***REMOVED***;
***REMOVED***

/*                 */
/* Follow Page CSS */
/*                 */


#followed h3 {
	margin: auto;
	margin-top: 3em;
	padding: 12px;
	background: rgba(23, 23, 23, 0.4***REMOVED***;
	border: 1px solid darkgrey;
	background: rgba(220, 220, 220, 0.82***REMOVED***;
	width: 120rem;
***REMOVED***

/*                 */
/* Search Page CSS */
/*                 */

#search-page {
	background-image: none;
	height: auto;
***REMOVED***

#search-header {
	margin-right: -15px;
	padding-left: 3vw;
	height: 5rem;
	width:100%;;
	background: #efefef;
	border-bottom: 1px solid lightgrey;
***REMOVED***

#search-header h3 {
	margin: 0;
	padding: 0;
	width: 20rem;
	margin-top: 13px;
	font-size:1.7em;
***REMOVED***

#quarter {
    padding: 0;
	float: left;
***REMOVED***

.btn-container {
	padding-top: 7px;
***REMOVED***

.btn-container form div {
	display:inline-block;
***REMOVED***


#results-count {
	padding: 0 7px;
***REMOVED***

#search-form {
	margin: 0;
	margin-top: 20px;
	padding: 18px;
	background-color: rgba(239, 239, 239, .7***REMOVED***;
	border-style: solid;
	border-color: darkgrey;
	border-width: 1px;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
***REMOVED***

#search-form h3 {
	padding: 0; 
	margin-top: 4px;
	padding-bottom: 13px;
	padding-top: 3px;
	font-size: 1.24em;
***REMOVED***

#search-form h3:after {
    content: ' ';
    display: block;
    margin-top: 8px;
    margin-bottom: -5px;
    border: 1px solid #AAA;
***REMOVED***

.form-group {
	margin: 2px;
***REMOVED***


.department-list {
	margin: 0;
	height: 180px;
    background: #fefefe;
    border: 1px solid lightgrey;
	overflow: auto;
***REMOVED***

#id_class_department, #id_class_area {
	margin: 0; 
	padding-left: 4px;
	padding-bottom: 2px;
	font-size: .8em;
***REMOVED***

.add-btn {
	border-right: 1px solid lightgrey;
***REMOVED***

.select-btn {
	line-height: 6px;
	vertical-align: middle;
	height: 25px;
***REMOVED***

.Open {
	border-left: 4px solid #408e5f;
***REMOVED***

.Closed {
	border-left: 4px solid #ffb517;
***REMOVED***

.Cancelled {
	border-left: 4px solid #b41515;
***REMOVED***

#results-header {
	margin: 0;
	height: 36px;

	border-radius: 3px;
	margin-bottom: 10px;
	margin-top: 10px;
***REMOVED***

.table-col {
	margin-top: 20px;
***REMOVED***

.class-table {
	overflow: auto;
***REMOVED***

.table td, tr {
	border-collapse: separate; 
	white-space: nowrap; overflow: hidden; text-overflow:ellipsis;
***REMOVED***

.course-title {
	margin-top: 10px;
	font-family: "Raleway";
	color: white;
	font-size: 1.3em;
	background-color: #3a7d54;
	border: solid 1px darkgreen;
	padding: 4px;
	padding-top: 10px;
	padding-left: 10px;
	cursor: pointer;
***REMOVED***

.course-subtitle {
	border-left: 5px solid #efefef;
	font-size: 110%;
	padding-bottom: 10px;
***REMOVED***

.remove-container {
	background-color: white;
         box-shadow:inset -2px 0px 0px -1px lightgrey;
    -moz-box-shadow:inset -2px 0px 0px -1px lightgrey;
         box-shadow:inset -2px 0px 0px -1px lightgrey;
	border-bottom: 1px solid lightgrey;
***REMOVED***

.remove-btn {
	color: darkcyan;
	text-align: center;
	font-weight: 900;
	text-shadow: lightblue 0 0 6px;
	cursor: pointer;
***REMOVED***
.row-desc {
	background-color: white;
***REMOVED***

.row-class {
	border-bottom: 1px solid lightgrey;
***REMOVED***

.row-grey {
         box-shadow:inset -2px 0px 0px -1px lightgrey;
    -moz-box-shadow:inset -2px 0px 0px -1px lightgrey;
         box-shadow:inset -2px 0px 0px -1px lightgrey;
	background-color: #efefef;
***REMOVED***

.row-white {
         box-shadow:inset -2px 0px 0px -1px lightgrey;
    -moz-box-shadow:inset -2px 0px 0px -1px lightgrey;
         box-shadow:inset -2px 0px 0px -1px lightgrey;
***REMOVED***


#results-count {
    display: inline-block;
	padding-top: 2.7rem;
	font-size: 16px;
	color: grey;
***REMOVED***

.section-element {
	padding-bottom: 1em;
***REMOVED***

/* Section Search */

.followed-classes {
    max-height: 200px;
    overflow: auto;
    background: #fefefe;
    border: 1px solid lightgrey;
***REMOVED***

.followed-classes ul {
    padding: 0 6px;
***REMOVED***

.followed-classes a {
    cursor: pointer;
***REMOVED***

/*                */
/* About page CSS */
/*                */

#text-area {
	margin-top: 4em;
	padding-top: 12px;
	background: rgba(23, 23, 23, 0.4***REMOVED***;
	height: 80rem;
	border: 1px solid darkgrey;
	background: rgba(220, 220, 220, 0.82***REMOVED***;

	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	   -moz-animation: fadein 1s; /* Firefox < 16 */
	    -ms-animation: fadein 1s; /* Internet Explorer */
	     -o-animation: fadein 1s; /* Opera < 12.1 */
	        animation: fadein 1s;
***REMOVED***

#text-area h3 {
	padding-bottom: 5px;
	text-align: center;
	font-family: "Raleway Regular";
	font-size: 5.4rem;
	color: #FFF;
	text-shadow: -2px 2px #767571, 1px -1px #767571;
***REMOVED***

#text-area  > h3::after {
	margin: auto;
	margin-top: 25px;
    background-color: rgba(190, 190, 190, 0.5***REMOVED***;
    content: "";
    display: block;
    height: 4px;
    vertical-align: middle;
    text-align: ;
    width: 90%;
***REMOVED***

#text-area p {
	padding-top: 3rem;
	margin: auto;
	width: 90%;
	font-size: 2.2rem;
***REMOVED***

/* Search Mobile CSS */

/* Landscape tablets and medium desktops */
@media (max-width: 1199px***REMOVED*** {
	.content {
    	background-attachment: scroll;
	***REMOVED***

	#search-page {
		background-image: none;
	***REMOVED***

    #results-count {
        padding-top: 1.8rem;
***REMOVED***

	.table td {
		max-width: 100px;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
	***REMOVED***
	.table th:nth-child(5***REMOVED*** {
		max-width: 60px;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
	***REMOVED***

	.class-table {
		border: 1px solid lightgrey;
		overflow-x: scroll;
	***REMOVED***
***REMOVED***

/* Portrait tablets and small desktops */
@media (max-width: 991px***REMOVED*** {
	#polyview-brand {
		display: none;
	***REMOVED***
	#home h3 {
		font-size: 7rem;
	***REMOVED***
	#home p {
		font-size: 1.8rem;
	***REMOVED***
	#search-header h3 {
		padding: 5px 0;
		font-size: 1.3em;
	***REMOVED***
***REMOVED***

@media (max-width: 766px***REMOVED*** {
    #separator {
        display: none;
***REMOVED***
    #search-header {
        height: 10rem;
***REMOVED***
***REMOVED***

@media (max-width: 427px***REMOVED*** {
    #separator {
        display: none;
***REMOVED***
    #search-header {
        height: 15rem;
***REMOVED***
***REMOVED***


/* Fade in transition*/

@keyframes fadein {
    from { opacity: 0; ***REMOVED***
    to   { opacity: 1; ***REMOVED***
***REMOVED***

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; ***REMOVED***
    to   { opacity: 1; ***REMOVED***
***REMOVED***

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; ***REMOVED***
    to   { opacity: 1; ***REMOVED***
***REMOVED***

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; ***REMOVED***
    to   { opacity: 1; ***REMOVED***
***REMOVED***

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; ***REMOVED***
    to   { opacity: 1; ***REMOVED***
***REMOVED***