<nav class="navbar navbar-inverse navbar-static-top">
   <!-- <a id="polyview-brand" class="<nav></nav>bar-brand" href="#">Polyview</a> -->
   <div class = "container">
        <a href = "#" id="polyview-brand" class = "navbar-brand">Polyview</a>
        <ul class = "nav navbar-nav navbar-left">
                <li class = "nav-link active"><a href = "#">Home</a></li>
                <li class><a href = "/soc/login/google-oauth2/?next=/">Sign-In</a></li>
                <li class><a href = "/about">About</a></li>
        </ul>       
   </div>
</nav>